/* Add your custom CSS styles here */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.menu-icon {
  display: none;
}

/* Hero section styles */
.hero {
  background-color: #f9f9f9;
  padding: 100px 0;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

/* About section styles */
.about {
  background-color: #fff;
  padding: 100px 0;
}

/* Car Listings styles */
.car-listings {
  background-color: #f9f9f9;
  padding: 100px 0;
}

.car-item {
  /* ... (previous styles) ... */
  position: relative; /* To make the buttons overlay on the image */
  padding-bottom: 40px; /* Added padding to prevent overlap */
}

.buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  z-index: 1; /* Placing the buttons above the image */
}

.like-btn,
.add-to-cart-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.like-btn i {
  margin-right: 5px;
}

.like-btn.liked {
  background-color: #ff1744;
}

.like-btn:hover,
.add-to-cart-btn:hover {
  background-color: #555;
}



.car-item img {
  max-width: 100%;
}

.car-item h4 {
  margin-top: 10px;
  font-size: 1.5em;
}


/* Contact section styles */
.contact {
  background-color: #fff;
  padding: 100px 0;
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.social-links a {
  margin-right: 10px;
  color: #fff;
  font-size: 1.5em;
}

/* Responsive styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  
  .navbar ul {
    display: none;
  }
  
  .navbar.show ul {
    display: flex;
    flex-direction: column;
  }
}

.cart {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.cart-item p {
  margin: 0;
}

.total-price {
  font-weight: bold;
}
